body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: red;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#header{
    display: flex;
    justify-content: space-between;
}
#logo{
    margin: 15px;
}
nav{
    display: flex;
}
.nav{
    margin: 15px;
}
#main-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

